In [38]:
num=13
name="AURO"

In [39]:
print("My name is {} and my favourite Number is {}".format(name,num))

My name is AURO and my favourite Number is 13

In [40]:
print("My name is {one} and my favourite Number is {two}".format(one=name,two=num))

My name is AURO and my favourite Number is 13

In [41]:
s= "hello"
s[0]

'h'

In [42]:
s[:]

'hello'

In [43]:
s[:0]

''

In [44]:
s[:1]

'h'

In [45]:
s[:-1]

'hell'

In [46]:
s[-1]

'o'

In [47]:
s[0:]

'hello'

In [48]:
print(s[0:])
print(s[:])

hello
hello

In [49]:
print(s[:-1])
print(s[:1])

hell
h

In [50]:
# [start:stop:step]
print(s[0::2])

hlo

In [51]:
[1,2,3]

[1, 2, 3]

In [52]:
my_list=['a','b','c']
my_list.append('d')

In [53]:
my_list

['a', 'b', 'c', 'd']

In [54]:
my_list[1:3]

['b', 'c']

In [55]:
s

'hello'

In [56]:
s[1:2]

'e'

In [57]:
s[1:3]

'el'

In [58]:
my_list[0]="NEW"

In [59]:
my_list

['NEW', 'b', 'c', 'd']

In [60]:
nest=[1,2,[3,4]]

In [61]:
nest

[1, 2, [3, 4]]

In [62]:
nest=[1,2,3,[4,5,["String"]]]
nest[3][2][0]

'String'

In [63]:
# Dictionary -> Behave like a key value pair jus like a hash table ;)
d={'key':'value','key2':123}

In [64]:
d['key']

'value'

In [65]:
d['two']=2

In [66]:
d

{'key': 'value', 'key2': 123, 'two': 2}

In [67]:
# Tuples are used to store multiple items in a single variable.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [68]:
thistuple[0]="BANANA"
# So here the difference is tuple doesn't support item assignment 
# Tuple is immutabele and list is mutable

TypeError: 'tuple' object does not support item assignment

In [69]:
# Set is defined by unique elements l;)
{1,2,3}

{1, 2, 3}

In [70]:
{1,1,1,2,2,2,2,3,3,3,}

{1, 2, 3}

In [71]:
s1=set([1,1,1,2,2,2,2,3,3,3])

In [72]:
s1.add(5)

In [73]:
s1

{1, 2, 3, 5}

In [74]:
seq=[1,2,3,4,5]
for num in seq:
    print(num)

1
2
3
4
5

In [75]:
i =1
while i<5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [76]:
for x in seq:
    print(x)

1
2
3
4
5

In [77]:
range(0,5)

range(0, 5)

In [78]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [79]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [80]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
inp=[1,2,3,4]
out=[]
for x in inp:
    out.append(x**2)

In [82]:
print(out)

[1, 4, 9, 16]

In [83]:
# List Comprehension
output=[num for num in inp]
print(output)

[1, 2, 3, 4]

In [84]:
def my_func(name="Your Default Name"):
    print("Hello "+name)

In [85]:
my_func("Auro!")

Hello Auro!

In [86]:
def square(num):
    """
    Multi-line Comment in Python !
    Can go multiple line this function squares a number 
    """
    return num**2

print(square(2))

4

In [87]:
square

In [88]:
range # Enter shift + tab to get the definition of the funtion

range

In [89]:
def times2(var):
    return var*2

In [90]:
times2(2)

4

In [100]:
seq=list(range(1,6))

In [92]:
seq

[1, 2, 3, 4, 5]

In [93]:
## Removing the overhead of writing funtions 
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [94]:
# Using Lambda Function to remove the overhead of writing funtions
# Lamda functions are meant to be written as a single line and clean code ;)
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [101]:
# filter needs to use a function or a lambda expression that returns a true or a false
# It expects a list on which the defined function needs to operate on!
seq.append(6)
print(seq)
list(filter(lambda num:num%2==0,seq))

[1, 2, 3, 4, 5, 6]

[2, 4, 6]

In [102]:
s = 'hello my name is Auro'

In [104]:
# Click on Tab Button ton get a list of methods available in Python after Dot operator 
s.lower()

'hello my name is auro'

In [105]:
s.split()

['hello', 'my', 'name', 'is', 'Auro']

In [106]:
tweet="Go SPorts! #sports"

In [107]:
tweet.split()

['Go', 'SPorts!', '#sports']

In [110]:
# TO get Hashtags from a text
text_hash_tag=tweet.split("#")

In [109]:
text_hash_tag[1]

'sports'

In [111]:
d

{'key': 'value', 'key2': 123, 'two': 2}

In [114]:
d={'k1':1,'k2':2}
d

{'k1': 1, 'k2': 2}

In [116]:
d.keys()

dict_keys(['k1', 'k2'])

In [117]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [118]:
d.values()

dict_values([1, 2])

In [119]:
lst=[1,2,3]
lst.pop()

3

In [120]:
lst

[1, 2]

In [121]:
lst.pop(0)

1

In [122]:
lst

[2]

In [123]:
# Use of In operator to check whether something is present inside the list or not !
'x' in [1,2,3]

False

In [124]:
'x' in ['x','y','z']

True

In [126]:
# tuple unpacking
x=[(1,2),(3,4),(5,6)]
x[0][1]

2

In [127]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [128]:
for a,b in x:
    print(a)

1
3
5