In [3]:
import pandas as pd

In [5]:
# Import the dataset Salaries.csv.
df=pd.read_csv('Salaries.csv')
df.head()

   rank discipline   phd  service   sex    salary
0  Prof          B  56.0       49  Male  186960.0
1  Prof          A  12.0        6  Male   93000.0
2  Prof          A  23.0       20  Male  110515.0
3  Prof          A  40.0       31  Male  131205.0
4  Prof          B  20.0       18  Male  104800.0

In [7]:
# Display how many rows and how many columns and Display first 10 rows and last 15 rows.
df.shape
print(df.head(10))
print(df.tail(15))

        rank discipline   phd  service   sex    salary
0       Prof          B  56.0       49  Male  186960.0
1       Prof          A  12.0        6  Male   93000.0
2       Prof          A  23.0       20  Male  110515.0
3       Prof          A  40.0       31  Male  131205.0
4       Prof          B  20.0       18  Male  104800.0
5       Prof          A  20.0       20  Male  122400.0
6  AssocProf          A  20.0       17  Male   81285.0
7       Prof          A  18.0       18  Male       NaN
8       Prof          A  29.0       19  Male   94350.0
9       Prof          A  51.0       51  Male   57800.0
         rank discipline   phd  service     sex    salary
63       Prof          A  29.0       27  Female   91000.0
64  AssocProf          A  26.0       24  Female   73300.0
65       Prof          A  36.0       19  Female  117555.0
66   AsstProf          A   7.0        6  Female   63100.0
67       Prof          A  17.0       11  Female   90450.0
68   AsstProf          A   4.0        2  Female   77500.0
69       Prof          A  28.0        7  Female  116450.0
70   AsstProf          A   8.0        3  Female   78500.0
71  AssocProf          B  12.0        9  Female   71065.0
72       Prof          B  24.0       15  Female  161101.0
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

In [9]:
# Which Male and Female Professor has the highest and the lowest salaries?
df[df['sex']=='Male' & df['salary']==df['salary'].max()][]

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]