___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [48]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [49]:
df

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [50]:
df['W']

A   -0.497104
B   -0.116773
C   -0.993263
D    1.025984
E    2.154846
Name: W, dtype: float64

In [51]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -0.497104  0.484752
B -0.116773  1.996652
C -0.993263  0.000366
D  1.025984  0.649826
E  2.154846 -0.346419

In [52]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -0.497104
B   -0.116773
C   -0.993263
D    1.025984
E    2.154846
Name: W, dtype: float64

DataFrame Columns are just Series

In [53]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [54]:
df['new'] = df['W'] + df['Y']

In [55]:
df

          W         X         Y         Z       new
A -0.497104 -0.754070 -0.943406  0.484752 -1.440510
B -0.116773  1.901755  0.238127  1.996652  0.121354
C -0.993263  0.196800 -1.136645  0.000366 -2.129908
D  1.025984 -0.156598 -0.031579  0.649826  0.994405
E  2.154846 -0.610259 -0.755325 -0.346419  1.399521

** Removing Columns**

In [56]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

In [57]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -0.497104 -0.754070 -0.943406  0.484752 -1.440510
B -0.116773  1.901755  0.238127  1.996652  0.121354
C -0.993263  0.196800 -1.136645  0.000366 -2.129908
D  1.025984 -0.156598 -0.031579  0.649826  0.994405
E  2.154846 -0.610259 -0.755325 -0.346419  1.399521

In [58]:
df.drop('new',axis=1,inplace=True)

In [59]:
df

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

Can also drop rows this way:

In [60]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826

** Selecting Rows**

In [61]:
df.loc['A']

W   -0.497104
X   -0.754070
Y   -0.943406
Z    0.484752
Name: A, dtype: float64

Or select based off of position instead of label

In [17]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [18]:
df.loc['B','Y']

-0.8480769834036315

In [63]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.497104 -0.943406
B -0.116773  0.238127

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [64]:
df

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

In [65]:
df>0

       W      X      Y      Z
A  False  False  False   True
B  False   True   True   True
C  False   True  False   True
D   True  False  False   True
E   True  False  False  False

In [66]:
df[df>0]

          W         X         Y         Z
A       NaN       NaN       NaN  0.484752
B       NaN  1.901755  0.238127  1.996652
C       NaN  0.196800       NaN  0.000366
D  1.025984       NaN       NaN  0.649826
E  2.154846       NaN       NaN       NaN

In [67]:
df['W']>0

A    False
B    False
C    False
D     True
E     True
Name: W, dtype: bool

In [68]:
df[df['W']>0]

          W         X         Y         Z
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

In [69]:
df

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

In [70]:
df[df['W']>0]['Y']

D   -0.031579
E   -0.755325
Name: Y, dtype: float64

In [71]:
df[df['W']>0][['Y','X']]

          Y         X
D -0.031579 -0.156598
E -0.755325 -0.610259

For two conditions you can use | and & with parenthesis:

In [72]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [27]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [28]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [74]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [30]:
df['States'] = newind

In [31]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [32]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [33]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [34]:
df.set_index('States',inplace=True)

In [35]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [76]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
print(hier_index)
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [37]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [77]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.147027 -0.479448
   2  0.558769  1.024810
   3 -0.925874  1.862864
G2 1 -1.133817  0.610478
   2  0.386030  2.084019
   3 -0.376519  0.230336

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [78]:
df.loc['G1']

          A         B
1  0.147027 -0.479448
2  0.558769  1.024810
3 -0.925874  1.862864

In [80]:
df.loc['G1'].loc[1].loc['A']

0.1470267713241236

In [41]:
df.index.names

FrozenList([None, None])

In [42]:
df.index.names = ['Group','Num']

In [43]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [44]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [45]:
df.xs(['G1',1])

TypeError: list keys are not supported in xs, pass a tuple instead

In [ ]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!