In [2]:
import pandas as pd

In [16]:
import pandas as pd

# Create a list of dictionaries
data = [
    {'id': 2, 'name': 'Meir', 'salary': 3000},
    {'id': 3, 'name': 'Michael', 'salary': 3800},
    {'id': 7, 'name': 'Addilyn', 'salary': 7400},
    {'id': 8, 'name': 'Juan', 'salary': 6100},
    {'id': 9, 'name': 'Kannon', 'salary': 7700}
]

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)
print(df)

   id     name  salary
0   2     Meir    3000
1   3  Michael    3800
2   7  Addilyn    7400
3   8     Juan    6100
4   9   Kannon    7700

In [17]:
df['Bonus']=0

In [22]:
# Write a solution to calculate the bonus of each employee. 
# The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. 
# The bonus of an employee is 0 otherwise.
# df[[(df['id']%2!=0) & (df['name'][0]!='M')]['Bonus']]=df['salary']
# df.loc[((df['id']%2!=0) & (df['name'].str[0]!='M')),'Bonus']=df['salary']
# df.loc[((df['id']%2!=0) & (df['name'].str[0]!='M')),'Bonus']
df.loc[((df['id']%2!=0) & (df['name'].str[0]!='M')),'Bonus']=df['salary']
df

   id     name  salary  Bonus
0   2     Meir    3000      0
1   3  Michael    3800      0
2   7  Addilyn    7400   7400
3   8     Juan    6100      0
4   9   Kannon    7700   7700

In [23]:
import pandas as pd
import numpy as np

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = 0
    condition = (employees['employee_id'] % 2 != 0) & (employees['name'].str[0] != 'M')
    employees.loc[condition, 'bonus'] = np.where(condition, employees['salary'], employees['bonus'])
    return employees[['employee_id', 'bonus']].sort_values('employee_id')

In [24]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus']=0
    employees.loc[((employees['employee_id']%2!=0) & (employees['name'].str[0]!='M')),'bonus']=employees['salary']
    return employees[['employee_id','bonus']].sort_values('employee_id')