In [1]:
import pandas as pd

In [3]:
import pandas as pd

# Create a list of dictionaries
data = [
    {'id': 2, 'name': 'Meir', 'salary': 3000},
    {'id': 3, 'name': 'Michael', 'salary': 3800},
    {'id': 7, 'name': 'Addilyn', 'salary': 7400},
    {'id': 8, 'name': 'Juan', 'salary': 6100},
    {'id': 9, 'name': 'Kannon', 'salary': 7700}
]

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)
print(df)

   id     name  salary
0   2     Meir    3000
1   3  Michael    3800
2   7  Addilyn    7400
3   8     Juan    6100
4   9   Kannon    7700

In [4]:
df['Bonus']=0

In [7]:
# Write a solution to calculate the bonus of each employee. 
# The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. 
# The bonus of an employee is 0 otherwise.
df[(df['id']%2!=0) & (df['name'][0]!='M')]['Bonus']=df['salary']
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_32832\3574133086.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[(df['id']%2!=0) & (df['name'][0]!='M')]['Bonus']=df['salary']

   id     name  salary  Bonus
0   2     Meir    3000      0
1   3  Michael    3800      0
2   7  Addilyn    7400      0
3   8     Juan    6100      0
4   9   Kannon    7700      0